
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

strong {
    background-color: white;
}

.purple {
    color: #6415ff;
}

/* NAVIGATION BAR */

#landing__container {
    padding: 0 16px;
    background-color: white;
    height: 100vh;
    pad: 2px;
    margin-bottom: 2px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    background-color: white;
}

.logo {
    display: flex;
    background-color: white;
    font-size: 24px;
    font-weight: bold;
    color: #243e63;
    justify-content: center;
    align-items: center;
    margin: 0 8px;
}

.logo__img {
    width: 38px;
    height: 38px;
    margin: 8px;
    border-radius: 8px;
}

.treact {
    font-size: 24px;
    background-color: white;
    font-weight: 900;
}

/* DROPDOWN */

.dropdown {
  position: relative;
  display: block;
  background-color: white;
  height: 100%;
  width: auto;
}

.dropbtn {
  background-color: white;
  color: gray;
  border: none;
  cursor: pointer;
  width: 100px;
  height: 100px;
}



.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
  width: 100vw;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  align-items: left;
  justify-content: left;
  width: 360px;
  align-items: right;
  justify-content: right;
  background-color: white;
  width: 100vw;
}

.dropdown-content a:hover {
  background-color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
  width: 100vw;
}

/* HEADER */

.landing__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header { 
    padding: 18px;
    margin-top: 42px;
} 

.landing__para {
    padding: 8px 16px;
    margin: 0 auto;
    width: 70%;
    text-align: center;
    font-size: 16px;
    word-spacing: 2px;
    opacity: 0.5;
    line-height: 1.5;
}

.email__form {
    border: 2px solid lightgray;
    border-radius: 36px;
    height: 64px;
    width: 420px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin: 16px;
}

.email__box {
    border: none;
    height: 100%;
    width: 70%;
    padding: 8px 32px;
    border-radius: 36px;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.email__button {
    border: none;
    height: 85%;
    width: 45%;
    background-color: #6415ff;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 36px;
    cursor: pointer;
    margin-right: 4px;
}

.landing__img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px 120px;
    padding: 16px;
    background-color: white;

}

.landing__img {
    width: 100%;
    height: 100%;
    background-color: white;
}

/* FEATURES PAGE */

#feature__page {
    padding: 2px;
    margin-top: 2px;
    height: 100vh;
    width: 100vw;
}

.feature__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 16px;
}

.feature__header {
    font-size: 16px;
    font-weight: 600;
    padding: 16px;
    letter-spacing: 2px;
}

.feature__info {
    font-size: 54px;
    font-weight: 900;
    padding: 8px;
    color: #243e63;
}

.feature__para {
    font-size: 16px;
    width: 70%;
    opacity: 0.7;
    color: #243e63;
    padding: 16px;
}

/* SECURE */

.row__one {
    display: flex;
    height: 200px;
}

.row__two {
    display: flex;
    height: 100px;
    margin-bottom: 32px;
}

.row__three {
    display: flex;
    height: 100px;
    margin-top: 100px;
}

.secure__container {
    display: flex;
    color: #243e63;
    width: 340px;
    margin: 40px;
    padding: 4px;
    height: 200px;
}

.secure__header {
    font-size: 26px;
    padding: 8px;
}

.secure__para {
    font-size: 18px;
    padding: 8px;
    color: gray;
    line-height: 1.5;
}

.secure__img {
    width: 40px;
    height: 40px;
    padding: 8px 8px;
    border-radius: 50%;
}

.secure__img-container {
    border: 2px solid rgba(211, 211, 211, 0.734);
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 50%;
    height: 60px;
    width: 120px;
    margin-right: 8px;

}

/* 24/7 SUPPORT */

.support__container {
    display: flex;
    color: #243e63;
    width: 340px;
    margin: 40px;
    padding: 4px;
    height: 200px;
}

.support__header {
    font-size: 26px;
    padding: 8px;
}

.support__para {
    font-size: 18px;
    padding: 8px;
    color: gray;
    line-height: 1.5;
}

.support__img {
    width: 40px;
    height: 40px;
    padding: 8px 8px;
    border-radius: 50%;
}

.support__img-container {
    border: 2px solid rgba(211, 211, 211, 0.734);
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 50%;
    height: 60px;
    width: 120px;
    margin-right: 8px;

}

/* CUSTOMIZABLE */

.custom__container {
    display: flex;
    color: #243e63;
    width: 340px;
    margin: 40px;
    padding: 4px;
    height: 200px;
}

.custom__header {
    font-size: 26px;
    padding: 8px;
}

.custom__para {
    font-size: 18px;
    padding: 8px;
    color: gray;
    line-height: 1.5;
}

.custom__img {
    width: 40px;
    height: 40px;
    padding: 8px 8px;
    border-radius: 50%;
}

.custom__img-container {
    border: 2px solid rgba(211, 211, 211, 0.734);
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 50%;
    height: 60px;
    width: 120px;
    margin-right: 8px;
}

/* RELIABLE */ 

.reliable__container {
    display: flex;
    color: #243e63;
    width: 340px;
    margin: 40px;
    padding: 4px;
    height: 200px;
}

.reliable__header {
    font-size: 26px;
    padding: 8px;
}

.reliable__para {
    font-size: 18px;
    padding: 8px;
    color: gray;
    line-height: 1.5;
}

.reliable__img {
    width: 40px;
    height: 40px;
    padding: 8px 8px;
    border-radius: 50%;
}

.reliable__img-container {
    border: 2px solid rgba(211, 211, 211, 0.734);
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 50%;
    height: 60px;
    width: 120px;
    margin-right: 8px;

}

/* FAST */

.fast__container {
    display: flex;
    color: #243e63;
    width: 340px;
    margin: 40px;
    padding: 4px;
    height: 200px;
}

.fast__header {
    font-size: 26px;
    padding: 8px;
}

.fast__para {
    font-size: 18px;
    padding: 8px;
    color: gray;
    line-height: 1.5;
}

.fast__img {
    width: 40px;
    height: 40px;
    padding: 8px 8px;
    border-radius: 50%;
}

.fast__img-container {
    border: 2px solid rgba(211, 211, 211, 0.734);
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 50%;
    height: 60px;
    width: 120px;
    margin-right: 8px;

}

/* EASY */

.easy__container {
    display: flex;
    color: #243e63;
    width: 340px;
    margin: 40px;
    padding: 4px;
    height: 200px;
}

.easy__header {
    font-size: 26px;
    padding: 8px;
}

.easy__para {
    font-size: 18px;
    padding: 8px;
    color: gray;
    line-height: 1.5;
}

.easy__img {
    width: 40px;
    height: 40px;
    padding: 8px 8px;
    border-radius: 50%;
}

.easy__img-container {
    border: 2px solid rgba(211, 211, 211, 0.734);
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 50%;
    height: 60px;
    width: 120px;
    margin-right: 8px;
}

/* QUALITY PAGE */

#quality__page {
    height: 100vh;
    width: 100vw;
    padding: 16px;
    display: flex;
}

.quality__container {
    width: 50%;
    padding: 12px;
    margin-top: 160px;
}

.quality__header {
    font-size: 20px;
    padding: 8px;
    letter-spacing: 2px;
}

.quality__info {
    font-size: 38px;
    font-weight: 900;
    color: #243e63;
    padding: 16px 8px;
}

.quality__para {
    padding: 8px;
    color: gray;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 24px;
}

.learn__btn {
    font-size: 16px;
    padding: 12px 32px;
    background-color: #6415ff;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 24px;
    margin-left: 8px;
    margin-top: 8px;
}

.quality__img {
    width: 100%;
    height: 100%;
}

.quality__img-container {
    width: 60%;
    align-items: center;
    justify-content: center;
    transform: translateY(300px) translateX(130px);
    box-sizing: border-box;
    box-shadow: 15px 15px 24px gray ;
}

/* STEPS PAGE */

.steps__page-container {
    height: 100vh;
    width: 100vw;
    padding: 4px;
    margin: 4px;
    display: flex;
}

.laptop__img-container {
    width: 65%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.steps__box-container {
    width: 45%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.laptop__img {
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding: 4px;
}

.steps__header {
    font-size: 16px;
    padding: 24px 0;
}

.steps__info {
    color: #243e63;
    font-weight: 900;
    font-size: 45px;
    padding: 24px 0;
}

.steps__list-container {
    width: 90%;
    padding: 24px;
}


.steps__list p {
    font-size: 16px;
    padding: 16px 0;
    line-height: 1.75;
    color: gray;
}

.steps__list {
    list-style-type: decimal-leading-zero;
}

.steps__list li {
    padding: 4px 0;
    font-weight: 700;
    color: #243e63;
    font-size: 24px;
}

/* VALUES PAGE */

#values__page {
    width: 100vw;
    height: 100vh;
    display: flex;
    padding: 4px;
    margin: 4px;
}

.values__container {
    width: 50%;
    height: auto;
    padding: 8px;
    margin: 40px 80px 8px 8px;
}

.values__info {
    font-size: 36px;
    font-weight: 900;
    color: #243e63;
    width: 70%;
    padding: 16px 0;
    letter-spacing: 1px;
    word-spacing: 2px;
}

.values__header {
    font-size: 18px;
    padding: 8px 0;
    letter-spacing: 2px;
}

.proto__img {
    width: 100%;
    height: 100%;
}

.proto__img-container {
    width: 50%;
    padding: 8px;
    margin-right: 16px;
}

.values__para {
    color: gray;
    padding: 8px 0;
    font-size: 18px;
    margin: 4px 16px 16px 0;
    line-height: 1.5;
}

.affordable__para {
    color: gray;
    font-size: 18px;
    margin: 24px 0;
}

.professionalism__para {
    color: gray;
    font-size: 18px;
    margin: 24px 0;
}


.icon__container {
    font-size: 32px;
    display: flex;
    border-radius: 50%;
}

.icon__title {
    display: flex;
    align-items: center;
    font-weight: 900;
    font-size: 20px;
    color: #243e63;
    padding: 0px;
    gap: 4px;
}

#d__icon {
    color: green;
    background-color: lightgreen;
    border-radius: 50%;
    margin: 4px;
}

.affordable__para {
    width: 90%;
}

.icon2__title {
    display: flex;
    align-items: center;
    font-weight: 900;
    color: #243e63;
    font-size: 20px;
    gap: 8px;
    margin-left: 4px;
}

.brief-icon__container {
    background-color: red;

}

#b__icon {
    background-color: rgba(245, 96, 96, 0.716);
    color: red;
    font-size: 22px;
    border-radius: 50%;
    padding: 8px;
}

.learn__button {
    font-size: 16px;
    padding: 8px 24px;
    margin: 36px 0;
    background-color: #6415ff;
    color: white;
    border-radius: 24px;
    border: none;
}

/* PRICING BREAKDOWN */

#pricing__page {
    padding: 4px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    height: 300vh;
}

.pricing__info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 240px;
}

.pricing__header {
    font-size: 18px;
    letter-spacing: 2px;
    margin-bottom: 8px;
}

.pricing__info {
    font-size: 52px;
    font-weight: 900;
    color: #243e63;
    margin-bottom: 24px;
    letter-spacing: 2px;
}

.pricing__para {
    color: gray;
    width: 65%;
    text-align: center;
    margin: 0 0 32px 0;
    font-size: 18px;
    line-height: 1.5;
    
}

.layout__container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.personal__container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 48px 0;
}
.business__container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 48px 0;
}
.enterprise__container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 48px 0;
}

.first__box {
    width: 100%;
    line-height: 1.5;
    padding: 0 0 8px 0;
    background-color: rgba(119, 75, 253, 0.915);
    border: solid 2px gray;
    border-radius: 16px 16px 0 0;
    margin-bottom: .5px;
}

.second__box {
    border: solid 2px ;
    width: 100%;
    font-size: 18px;
    color: gray;
    padding: 24px 0;
    line-height: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.third__box {
    border: solid 2px gray;
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: .5px;
    border-radius: 0 0 16px 16px;
}

.box__header {
    font-size: 24px;
    font-weight: bold;
    padding: 8px 0;
    border: none;
    border-radius: 16px 16px 0 0;
}

.second-box__header {
    font-size: 24px;
    font-weight: bold;
    color: #243e63;
}

.price {
    font-size: 45px;
    font-weight: 900;
}

.monthly { 
    background-color: rgba(119, 75, 253, 0.915);
    color: white;
    padding: 0 0 32px 0;
}

.business__container .box__header {
    background-color: rgba(119, 75, 253, 0.915);
}

.business__container .price {
    background-color: rgba(119, 75, 253, 0.915);
}

.business__container .second__box {
    background-color: rgba(119, 75, 253, 0.915);
}

.business__container .third__box {
    background-color: rgba(119, 75, 253, 0.915);
}

.business__container .second-box__header {
    background-color: rgba(119, 75, 253, 0.915);
}

.business__container p {
    background-color: rgba(119, 75, 253, 0.915);
    color: white;
}

.business__btn {
    font-size: 14px;
    font-weight: bold;
    color: #6415ff;
    background-color: white;
    padding: 12px 60px;
    border: none;
    border-radius: 24px;
}

.personal__btn {
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: #6415ff;
    padding: 12px 60px;
    border: none;
    border-radius: 24px;
}

.enterprise__btn {
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color:  rgba(119, 75, 253, 0.915);
    padding: 12px 60px;
    border: none;
    border-radius: 24px;
}

/* TESTIMONIALS PAGE */

#test__page {
    width: 100vw;
    height: 100vh;
    padding: 8px;
    display: flex;
}

.test__img {
    width: 100%;
    height: 100%;
}

.test__img-container {
    height: auto;
    width: 40%;
    padding: 4px;
}

.test__container {
    width: 60%;
    height: 100vh;
    padding: 72px 4px 12px 16px;
    margin: 4px 8px 24px 8px;
}

.test__info {
    font-size: 32px;
    font-weight: 900;
    margin: 8px 0;
    color: #243e63;
    letter-spacing: 1px;
}

.test__header {
    font-weight: 700;
    margin: 16px 0;
}

.test__para {
    font-size: 18px;
    color: gray;
    margin: 16px 0 56px 0;
}

.icon__container {
    color: gold;
    margin: 24px 0;
}

.amazing__header {
    font-size: 20px;
    font-weight: 900;
    margin: 8px 0;
    color: rgb(67, 67, 67);
}

.amazing__para {
    font-size: 18px;
    color: rgb(67, 67, 67);
}

.info__block {
    display: flex;
    padding: 16px 2px;
    align-items: center;
    margin: 16px 0;
}

.profile__img {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 50%;
}

.profile__img-container {
    height: 56px;
    width: 56px;
    border: none;
    border-radius: 50%;
    margin: 4px;
}

.info__info {
    font-size: 18px;
    color: #243e63;
    margin: 0 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info__name {
    color: #243e63;
    font-size: 24px;
    font-weight: 900;
}

.icon__arrows {
    color: #243e63;
    margin: 0 32px;
    display: flex;
    gap: 16px;
}

#left__arrow {
    color:#243e63;
    background-color: lightgray;
    font-size: 48px;
    border-radius: 50%;
    width: 48px;
    padding: 8px;
}

#right__arrow {
    color: #243e63;
    background-color: lightgray;
    font-size: 48px;
    border-radius: 50%;
    width: 48px;
    padding: 8px;
}

/* FINAL BOX PAGE */

#final__box-page {
    width: 100vw;
    height: 60vh;
    padding: 8px;
    display: flex;
    justify-content: center;
}

.final__box-container {
    background-color: #6415ff;
    width: 90%;
    height: 420px;
    margin: 2px 0 56px 0;
    border-radius: 16px;
}

.developer__info {
    height: 50%;
    background-color: #6415ff;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    text-align: center;
    border-radius: 16px;
    padding-top: 56px;
    font-weight: 900;
    letter-spacing: 2px;
}

.btn__box {
    background-color: #6415ff;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    border-radius: 16px;
    padding-bottom: 56px;
}

.get__btn {
    font-size: 16px;
    padding: 16px 48px;
    border: none;
    border-radius: 32px;
}

.contact__btn {
    font-size: 16px;
    padding: 16px 48px;
    border-radius: 32px;
    color: white;
    background-color: #6415ff;
    border: solid 2px lightgray;
}

/* FOOTER */

#footer__page {
    height: 50vh;
    width: 100vw;
    background-color: #6415ff;
}

.lists__box {
    display: flex;
    height: 90%;
    width: auto;
    padding: 24px;
    justify-content: space-around;
    background-color: #6415ff;
    align-items: center;
}

.list__container {
    font-size: 16px;
    padding: 8px;
    line-height: 2.5;
    background-color: #6415ff;
}

.list__header {
    font-size: 20px;
    background-color: #6415ff;
    color: white;
    margin-bottom: 16px;
}

.lists__box p {
    background-color: #6415ff;
    color: white;
} 

.footer__treact-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #6415ff;
}

.treact-logo__box {
    display: flex;
    align-items: center;
    width: 20vw;
    height: 10vh;
    font-size: 24px;
    color: white;
    background-color: #6415ff;
    padding: 4px;
    justify-content: center;
}

.treact-logo__img {
    width: 20%;
    height: 40%;
    padding: 4px;
    margin-right: 8px;
}
.treact-logo__box p {
    background-color: #6415ff;
    padding: 4px;
}

.last__para {
    font-size: 18px;
    color: white;
    background-color: #6415ff;
}

.last-icon__container {
    background-color: #6415ff;
    font-size: 24px;
    display: flex;
    gap: 16px;
}

.footer__icon {
    color: white;
    background-color: #6415ff;
}